@using System.Web.Mvc.Html
@model Web.ViewModels.MovieViewModel

<div>@Html.ActionLink("Add", "Add", "Movie",null,null)</div>

@foreach (var entity in Model.Media)
{
    <div style="border: 1px solid red; width: 100px; height: 300px;">
        <div>@entity.Name</div>
        <div>@entity.Id</div>
        @foreach (var e in entity.GenresCollection)
        {
            <p>+ @e.Name</p>
        }
        @foreach (var e in entity.CountryCollection)
        {
            <p> - @e.Name</p>
        }
        <div>@Html.ActionLink("Delete", "Delete", "Movie", new { id = entity.Id }, null)</div>
        <div>@Html.ActionLink("Edit", "Edit", "Movie", new { id = entity.Id }, null)</div>
    </div>
}

@Html.Partial("Partials/PagePartial/MoviePagePartial")