@model Web.ViewModels.Identity.LoginModel

<div class="background-cover login">
    <div style="background-color: rgba(0, 0, 0, 0.1); height: 100%; width: 100%;">
        <div style="margin-top: 40px; text-align: center;">
            <h2>Welcome!</h2>
            <p>
                You don`t have an account yet?
                You should @Html.ActionLink("Register", "Register", "Account") then!
            </p>
        </div>

        <div class="container">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div>
                    @Html.ValidationSummary()
                    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                    <p>
                        <label>Username</label><br />
                        @Html.EditorFor(x => x.UserName, new { htmlAttributes = new { @class = "inputArea" } })
                    </p>
                    <p>
                        <label>Password</label><br />
                        @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "inputArea" } })
                    </p>
                    <p><button class="button" type="submit">Submit</button></p>
                </div>}
        </div>
    </div>
</div>
