@model Web.ViewModels.GenericEntitiesViewModel<MoviesService.Dto.MediaDto>

<div class="background-cover">
    @using (Html.BeginForm())
    {
        <div>
            @Html.LabelFor(model => model.Entity.Name, htmlAttributes: new { @class = "authorization-label" })
            @Html.EditorFor(model => model.Entity.Name, new { htmlAttributes = new { @class = "authorization-login" } })
        </div>

        <div>
            @Html.LabelFor(model => model.Entity.Year, htmlAttributes: new {@class = "authorization-label"})
            @Html.EditorFor(model => model.Entity.Year, new {htmlAttributes = new {@class = "authorization-login"}})
        </div>
        <div>
            @Html.LabelFor(model => model.Entity.Plot, htmlAttributes: new {@class = "authorization-label"})
            @Html.EditorFor(model => model.Entity.Plot, new {htmlAttributes = new {@class = "authorization-login"}})
        </div>

        <div>
            <h3>Genres</h3>
            @foreach (var c in ViewBag.Genres)
            {
                <div class="filterDiv" style="display: inline-grid;">
                    @c.Name
                    <input style="width: 130px;" type="checkbox" name="selectedGenres" value="@c.Id"/>
                </div>
            }
        </div>
        <div>
            <h3>Countries</h3>
            @foreach (var c in ViewBag.Country)
            {
                <div class="filterDiv" style="display: inline-grid;">
                    @c.Name
                    <input style="width: 130px;" type="checkbox" name="selectedCountries" value="@c.Id"/>
                </div>
            }
        </div>
        
        <div>
            <h3>Types</h3>
            @foreach (var c in ViewBag.Types)
            {
                <div class="filterDiv" style="display: inline-grid;">
                    @c.Name
                    <input type="radio" name="selectedType" value="@c.Id" />
                </div>
            }
        </div>
        <input type="submit" value="Add"/>}
</div>




