@using Web.Services
@model Web.ViewModels.GenericEntitiesViewModel<MoviesService.Dto.MediaDto>

<div style="border: 1px solid red; width: 120px; height: 300px;" />
<div>@Model.Entity.Name</div>
<div>@Model.Entity.Id</div>
<div>@Model.Entity.TypesId</div>
@foreach (var e in Model.Entity.GenresCollection)
{
    <p>+ @e.Name</p>
}
@foreach (var e in Model.Entity.CountryCollection)
{
    <p> - @e.Name</p>
}

@if (Model.Entity.LinkEmbed != null)
{
    <iframe width="850" height="700" src="@Model.Entity.LinkEmbed" seamless></iframe>
}






@if (User.IsInRole("Administrator"))
{
    if (Model.Entity.TypesId == Convert.ToInt32(Enums.TypeEnum.Serial))
    {
        <div>
            @Html.ActionLink("Add season", "AddSeason", "Series", new {mediaId = Model.Entity.Id}, null)
        </div>
        foreach (var e in Model.Entity.SeasonsList)
        {
            <span>@Html.ActionLink(e.Name, "GetSeason", "Series", new { seasonId = e.Id }, null)</span>
            if (Service.ReturnIdForDelete(e.Name) == Model.Entity.SeasonCount)
            {
                <span>@Html.ActionLink("Delete", "DeleteSeason", "Series", new { seasonId = e.Id }, null)</span>
            }
        }
    }
}
