@model Web.ViewModels.GenericEntitiesViewModel<MoviesService.Dto.MediaDto>

<h2>Edit genre</h2>

@using (Html.BeginForm("Update", "Media", FormMethod.Post))
{
    <fieldset>
        @Html.HiddenFor(m => m.Entity.Id)
        <p>
            @Html.LabelFor(m => m.Entity.Name, "Name")
            <br />
            @Html.EditorFor(m => m.Entity.Name)
        </p>
        <p>
            @Html.LabelFor(m => m.Entity.Year, "Year")
            <br />
            @Html.EditorFor(m => m.Entity.Year)
        </p>
        <p>
            @Html.LabelFor(m => m.Entity.Plot, "Plot")
            <br />
            @Html.EditorFor(m => m.Entity.Plot)
        </p>
        <p>
            @Html.LabelFor(m => m.Entity.LinkEmbed, "Trailer link")
            <br />
            @Html.EditorFor(m => m.Entity.LinkEmbed)
        </p>
        <p><input type="submit" value="Send" /></p>
    </fieldset>
}

