@using System.Web.Mvc.Html
@model Web.ViewModels.MediaViewModel

@foreach (var entity in Model.Media)
{
    <div style="border: 1px solid red; width: 300px; height: 300px;">
        <div>@Html.ActionLink(@entity.Name, "Details", "Media", new { id = entity.Id }, null)</div>
        <div>@entity.Id</div>
        <div>@entity.TypesId</div>
        <img width="200" height="200" src="@entity.Poster"/>
        @foreach (var e in entity.GenresCollection)
        {
            <p>+ @e.Name</p>
        }
        @foreach (var e in entity.CountryCollection)
        {
            <p> - @e.Name</p>
        }
        @if (User.IsInRole("Administrator"))
        {
            <div>@Html.ActionLink("Add", "Add", "Media",null,null)</div>
            <div>@Html.ActionLink("Delete", "Delete", "Media", new { id = entity.Id }, null)</div>
            <div>@Html.ActionLink("Edit", "Edit", "Media", new { id = entity.Id }, null)</div>
        }
    </div>
}

@Html.Partial("Partials/PagePartial/MoviePagePartial") 