@using System.Web.Mvc.Html
@model Web.ViewModels.MediaViewModel

<div>@Html.ActionLink("Add", "Add", "Media",null,null)</div>

@foreach (var entity in Model.Media)
{
    <a href="@Url.Action("Details", "Media", entity)">
        <div class="test-div-c">
            <img src="@entity.Poster" height="300" width="200"/>
            <p>@entity.Name </p>
            <p>Year: @entity.Year </p>
            <p>IMDb rating: @entity.RatingIMDb </p>
        </div>
    </a>
}

@Html.Partial("Partials/PagePartial/MoviePagePartial") 