@using MoviesService.Dto
@model MoviesService.Dto.MediaDto

<h5>@Model.IMDbMovieId </h5>
<h5>@Model.Name </h5>
<img src="@Model.Poster" width="200px" />
<h5>@Model.Year </h5>
<h5>@Model.Cast </h5>
<h5>@Model.Plot </h5>
<h5>@Model.BudgetAndBoxOffice </h5>
<h5>@Model.Types.Name </h5>
<h5>@Model.RatingIMDb </h5>
<h5>Countries</h5>
@foreach (var genre in Model.CountryCollection)
{
    <p> @genre.Name </p>
}
<h5>Genres</h5>
@foreach (var genre in Model.GenresCollection)
{
    <p> @genre.Name </p>
}
