<html>
    <head>
        @Html.Partial("Partials/MetaPartial")
        @Html.Partial("Partials/CssPartial")
    </head>

<body class="backgoround">
<div class="navbar navbar-inverse navbar-fixed-top background-site">
    <div style="position: absolute; top: -14px; left: 90px;">
        <img src="~/Style/icon.png" style="width: 100px; height: 50%;">
    </div>
    <div class="container">
        <div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Movie space", "Index", "Home", new {area = ""}, new {@class = "logo-name"})
            </div>
        </div>

        <div class="navbar-collapse collapse basic-header">
            <div>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Top 250 IMDb", "Top250IMDb", "Home", null, new {@class = "color-black"})</li>
                    <li>@Html.ActionLink("Top liked", "MostLikedResult", "Home", null, new {@class = "color-black"})</li>
                    <li>@Html.ActionLink("Top Watched", "MostWatchedResult", "Home", null, new {@class = "color-black"})</li>
                    <li>@Html.ActionLink("Filters", "Filters", "Home", null, new {@class = "color-black"})</li>

                    @if (User.IsInRole("Administrator"))
                    {
                        <li>@Html.ActionLink("Admin panel", "AdminPanel", "Admin", null, new {@class = "admin-panel"})</li>
                    }
                </ul>
            </div>

            <div class="authorization-login-logout">
                <ul class="nav navbar-nav">
                    <li class="search">
                        @using (Html.BeginForm("Search", "Home", FormMethod.Post))
                        {
                            <div style="display: block;">
                                <input class="search-input" name="searchData" type="text" placeholder="Name"/>
                                <button class="seach-button" name="action" value="search"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        }
                    </li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Logout", "Logout", "Account", null, new {@class = "log-logout-button"})</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Login", "Account", null, new {@class = "log-logout-button"})</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="mySidenav"> 
    <a href="https://www.instagram.com/janglaide/" id="alisa">Alisa</a> 
    <a href="https://www.instagram.com/m_chudik" id="misha">Misha</a> 
    <a href="https://www.instagram.com/samael_sher/" id="pasha">Pasha</a> 
    <a href="https://www.instagram.com/l.e.v.v.e.l/" id="vlad">Vlad</a> 
</div>
<div class="container main-sector">
    @if (User.IsInRole("Administrator"))
    {
        <div class="add-button">
            @Html.ActionLink("Add media", "Add", "Media", null, new { @class = "add-button-link" })
        </div>
    }
    @RenderBody()
    <footer class="footer">
        <div style="text-align: center;">@Html.ActionLink("About us", "Index", "AboutUs", null, new {@class = "log-logout-button"})</div>
        <p>&copy; @DateTime.Now.Year - Movie space</p>
    </footer>
</div>

@Html.Partial("Partials/ScriptsPartial")
@RenderSection("scripts", required: false)
</body>
</html>



      
