@model Web.ViewModels.FilterViewModel

 
<form method="get">
    <div class="form-inline">
        <label class="control-label">Genre: </label>
        @Html.DropDownList("genre", Model.Genre as SelectList,
            htmlAttributes: new { @class = "form-control" })
 
        <label class="control-label">Year: </label>
        @Html.DropDownList("year", Model.Year as SelectList,
            htmlAttributes: new { @class = "form-control" })
 
        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>

@if (Model != null)
{
    <div>
        <h3>Search results:</h3>
    </div>
    foreach (var rezult in Model.Media)
    {
        <a href="@Url.Action("Details", "Media", new {id = rezult.Id}, null)">
            <div class="test-div-c">
                <img src="@rezult.Poster" height="300" width="200"/>
                <p>@rezult.Name </p>
                <p>Year: @rezult.Year </p>
                <p>IMDb rating: @rezult.RatingIMDb </p>
            </div>
        </a>
    }
}
else
{
    <div>
        <h3>Sorry but we don't find any, try to search by another name</h3>
    </div>
}

<style>
    .test-div-c {
        background: red;
        display: inline-grid;
        white-space: normal;
        width: min-content;
    }
</style>
