@using Microsoft.AspNet.Identity
@model Web.ViewModels.HomePageViewModel
<div class="background-cover">
    <div style="font-size: 25px;">MyList</div>
    @foreach (var myList in @Model.AllMedia.Where(x => @Model.MyList.Contains(x.Id)).Take(8))
    {
        <div style="display: inline-grid;">
            <img src="@myList.Poster" height="230" width="150" alt=""/>
            @Html.ActionLink("Delete", "DeleteFromMyList", "LikeWatched", new {userId = User.Identity.GetUserId(), mediaId = @myList.Id}, null)
        </div>
    }
</div>
