@model Web.ViewModels.MediaViewModel

<div class="background-cover">
    @foreach (var entity in Model.Media)
    {
        <div class="basic-block">
            <a href="@Url.Action("Details", "Media", new {id = entity.Id})">
                <img class="img" src="@entity.Poster" height="300" width="200" alt="" />
                <p class="text">@entity.Name</p>
            </a>
            @if (User.IsInRole("Administrator"))
            {
                <div class="admin-button">
                    <div class="admin-button-position">@Html.ActionLink("Delete", "Delete", "Media", new { id = entity.Id }, new { @class = "admin-button-style" })</div>
                    <div class="admin-button-position">
                        @Html.ActionLink("Edit", "Edit", "Media", new {entity.Id, entity.Name, entity.Year,entity.Plot, entity.LinkEmbed}, new {@class = "admin-button-style"})
                    </div>
                </div>
            }
        </div>
    }

    @Html.Partial("Partials/PagePartial/MoviePagePartial")
</div>