@model List<MoviesService.Models.Media>

@if (Model != null)
{
    <div>
        <h3>Search results:</h3>
    </div>
    foreach (var rezult in Model)
    {
        <a href="@Url.Action("Details", "Media", new {id = rezult.Id}, null)">
            <div class="test-div-c">
                <img src="@rezult.Poster" height="300" width="200"/>
                <p>@rezult.Name </p>
                <p>Year: @rezult.Year </p>
                <p>IMDb rating: @rezult.RatingIMDb </p>
            </div>
        </a>
    }
}
else
{
    <div>
        <h3>Sorry but we don't find any, try to search by another name</h3>
    </div>
}

<style>
    .test-div-c {
        background: red;
        display: inline-grid;
        white-space: normal;
        width: min-content;
    }
</style>
