@model List<MoviesService.Models.Media>

<div class="background-cover">
    @if (User.IsInRole("Administrator"))
    {
        <div class="add-button">
            @Html.ActionLink("Add media", "Add", "Media", null, new { @class = "add-button-link" })
        </div>}

    @foreach (var entity in Model)
    {
        <div class="basic-block">
            <a href="@Url.Action("DetailsApi", "Media", new {id = entity.IMDbMovieId})">
                <img class="img" src="@entity.Poster" height="300" width="200" alt="" />
                <p class="text">@entity.Name</p>
            </a>
            @if (User.IsInRole("Administrator"))
            {
                <div class="admin-button">
                    <div class="admin-button-position">@Html.ActionLink("Delete", "Delete", "Media", new { id = entity.Id }, new { @class = "admin-button-style" })</div>
                    <div class="admin-button-position">@Html.ActionLink("Edit", "Edit", "Media", new { id = entity.Id }, new { @class = "admin-button-style" })</div>
                </div>
            }
        </div>
    }
</div>