@using System.Web.Mvc.Html
@model IEnumerable<IdentityService.Dto.AboutUsDto>

<div class="background-cover">
    <div style="margin-top: -8px;">
        @if (User.IsInRole("Administrator"))
        {
            <div class="add-button">
                @Html.ActionLink("Add", "Create", "AboutUs", null, new {@class = "add-button-link"})
            </div>
        }

        @foreach (var entity in Model)
        {
    <div class="basic-block">

        <img src="@entity.PhotoLink" height="300" width="200" alt="" />
        <p class="text" style="color: bisque">@entity.Name</p>

        @if (User.IsInRole("Administrator"))
        {
    <div class="admin-button">
        <div class="admin-button-position">@Html.ActionLink("Delete", "Delete", "AboutUs", new { id = entity.Id }, new { @class = "admin-button-style" })</div>
        <div class="admin-button-position">@Html.ActionLink("Update", "Update", "AboutUs", new { id = entity.Id }, new { @class = "admin-button-style" })</div>
    </div>      }
    </div>
        }
    </div>
</div>