@model IdentityService.Dto.AboutUsDto
@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <h4>AboutUsCreation</h4>
        <hr />
        @Html.ValidationSummary(false)

        <div>
            Name
            <div>@Html.EditorFor(model => model.Name)</div>
        </div>

        <div>
            PhotoLink
            <div>@Html.EditorFor(model => model.PhotoLink)</div>
        </div>
        <div>
            ProjectRole
            <div>@Html.EditorFor(model => model.ProjectRole)</div>
        </div>
        <div>
            <div><input type="submit" value="Submit" /></div>
        </div>
    </div>
}
