@model IEnumerable<Web.ViewModels.UserViewModel>

@{
    ViewBag.Title = "ASP.NET Identity";
}

<div class="background-cover" style="height: 100%;">
    <div class="panel panel-primary">
        <div class="panel-heading">
            All users
        </div>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Username</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Banned</th>
                <th></th>
                <th></th>
            </tr>
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="3" class="text-center">The database is empty</td>
                </tr>
            }
            else
            {
                foreach (var user in Model)
                {
        <tr>
            <td>@user.Name</td>
            <td>@user.Surname</td>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>
                @foreach (var role in user.Roles)
                {
                    <p> @role </p>
                }
            </td>
            <td>@user.Banned</td>
            <td>
                @if (user.Banned)
                {
                    @Html.ActionLink("Pardon", "BanToggle", "Admin", new { id = user.UserName }, null)
                }
                else
                {
                    @Html.ActionLink("Ban", "BanToggle", "Admin", new { id = user.UserName }, null)
                }
            </td>
            <td>
                @if (user.Roles.Count() > 1)
                {
                    @Html.ActionLink("Remove administrator", "AdminRightsToggle", "Admin", new { username = user.UserName }, null)
                }
                else
                {
                    @Html.ActionLink("Set administrator", "AdminRightsToggle", "Admin", new { username = user.UserName }, null)
                }
            </td>
        </tr>
                }
            }
        </table>
    </div>
</div>

