@model Web.ViewModels.GenericEntitiesViewModel<MoviesService.Dto.SeasonsDto>
<div class="background-cover">
    @using (Html.BeginForm("UpdateSeason","Series", FormMethod.Post))
    {
        <fieldset>
            @Html.HiddenFor(m => m.Entity.Id)
            @Html.HiddenFor(m => m.Entity.MediaId)
            @Html.HiddenFor(m => m.Entity.EpisodeCount)
            @Html.HiddenFor(m => m.Entity.RatingIMDb)
            @Html.HiddenFor(m => m.Entity.UserIMDb)
            @foreach (var e in Model.Entity.EpisodesList)
            {
                <input type="hidden" name="episodes" value="@e.Id"/>
            }
            <p>
                @Html.LabelFor(m => m.Entity.Name, "Name")
                <br />
                @Html.EditorFor(m => m.Entity.Name)
            </p>
            <p>
                @Html.LabelFor(m => m.Entity.Year, "Year")
                <br />
                @Html.EditorFor(m => m.Entity.Year)
            </p>
            <p><input type="submit" value="Send" /></p>
        </fieldset>
    }
</div>