@using Web.Services
@model MoviesService.Dto.SeasonsDto

<div style="border: 1px solid red; width: 100px; height: 300px;" />
<div>@Model.Name</div>
<div>@Model.Id</div>
<div>
    @foreach (var e in Model.EpisodesList)
    {
        <div>
            @Html.ActionLink(e.Name, "GetEpisode", "Series", new {episodeId = e.Id, seasonId = Model.Id}, null)
        </div>
        if (Service.ReturnIdForDelete(e.Name) == Model.EpisodeCount)
        {
            <span>@Html.ActionLink("Delete", "DeleteEpisode", "Series", new {episodeId = e.Id},null)</span>
        }
    }
</div>
<div>@Html.ActionLink("Add episode", "AddEpisode", "Series", new { id = Model.Id }, null)</div>
