@using Web.Services
@model Web.ViewModels.GenericEntitiesViewModel<MoviesService.Dto.SeasonsDto>

<div class="background-cover" style="display: inline-grid;">
    @if (User.IsInRole("Administrator"))
    {
        <div>
            @Html.ActionLink("Add episode", "AddEpisode", "Series", new {id = Model.Entity.Id}, null)
        </div>
        <div>
            @Html.ActionLink("Edit", "EditSeason", "Series", new { seasonId = Model.Entity.Id}, null)
        </div>
    }
    <div>@Model.Entity.Name</div>
    <div>@Model.Entity.Year</div>
    <div>
        @foreach (var e in Model.Entity.EpisodesList)
        {
            <div>

                @Html.ActionLink(e.Name, "GetEpisode", "Series", new {episodeId = e.Id}, null)
                @if (User.IsInRole("Administrator"))
                {
                    if (Service.ReturnIdForDelete(e.Name) == Model.Entity.EpisodeCount)
                    {

                        <span>@Html.ActionLink("Delete", "DeleteEpisode", "Series", new { episodeId = e.Id}, null)</span>
                    }
                }
            </div>
        }
    </div>
</div>


